@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* CSS VAR HEX */
  --black: #000000ff;
  --night: #141414ff;
  --onyx: #3b3b3bff;
  --dim-gray: #636363ff;
  --white: #ffffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

body,
html {
  background-color: var(--black);
  color: var(--white);
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 2px var(--dim-gray), 0 0 1em var(--white),
    0 0 0.2em var(--white);
}

.galaxy {
  position: absolute;
  width: 100vw;
  min-height: 100%;
}
.stars {
  position: relative;
  background: url(../img/stardust.png) repeat;
  animation: moveStars 120s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 9000px;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

nav {
  /* position: relative; */
  width: calc(100% - 10px);
  height: 50px;
  text-align: center;
  margin: auto;
  background-color: var(--night);
  border-radius: 0 0 75px 75px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}
ul {
  width: 90%;
  height: 90%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}
li > a {
  width: max-content;
}
a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--white);
}

main#interface {
  display: flex;
  justify-items: stretch;
  align-content: space-around;
  flex-flow: column wrap;
  margin: auto;
  width: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
}

section {
  width: 80%;
  min-height: 80vh;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  /*  */
  /* background-color: rgba(255, 255, 255, 0.300); */
}

section#start {
  width: 500px;
  justify-content: space-evenly;
  flex-flow: column wrap;
}
section#start > h1 {
  text-transform: uppercase;
  font-size: 4em;
}
div#presentation {
  width: 450px;
  height: 350px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: start;
}
div#presentation > h2 {
  width: 200px;
  font-size: 2em;
}
div#presentation > p {
  width: 450px;
  font-size: 1.5em;
}

section#about-me {
  width: 500px;
}
section#about-me > img {
  border-radius: 50%;
  width: 300px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4),
    0px 0px 20px rgba(255, 255, 255, 0.4);
}
section#about-me > p {
  width: 450px;
  font-size: 1.5em;
}

section#projects {
  width: 500px;
  padding-top: 75px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
/*  REMOVIDO
section#projects > h2 {
    text-transform: uppercase;
    font-size: 3em;
} 
*/
section#projects > div.technologies {
  width: 500px;
  height: 250px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
div.technologies > p {
  text-align: center;
  width: max-content;
  margin: 10px 10px;
  font-size: 1.5em;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  background-color: var(--night);
}
section#projects > div.block {
  width: 450px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

div.block > div {
  width: 250px;
  height: 150px;
  background-color: var(--dim-gray);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}

div.block img {
  width: 250px;
  height: 155px;
}
/*  */
.project {
  position: relative;
  display: inline-block;
}

.image-link {
  display: block;
  position: relative;
}

.image-link img {
  width: 100%; /* Ajuste conforme necessário */
  display: block;
  transition: filter 0.3s ease; /* Suaviza o escurecimento */
}

.image-link:hover img {
  filter: brightness(50%); /* Escurece a imagem ao passar o mouse */
}

.text-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  width: 240px;
  white-space: normal; /* Permite a quebra de linha */
  word-wrap: break-word; /* Quebra palavras longas se necessário */
  z-index: 1;
}

.image-link:hover .text-hover {
  opacity: 1;
}

/*  */

section#contact {
  width: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
section#contact > div {
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.socialButton {
  border-radius: 32px;
  width: 400px;
  height: 64px;
  margin-bottom: 30px;
  background-color: var(--night);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.socialButton:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4),
    0px 0px 20px rgba(255, 255, 255, 0.4);
  transition: 0.4s;
}

a.linkedin,
a.github,
a.instagram,
a.whatsapp,
a.call,
a.email {
  display: flex;
  justify-content: start;
  align-items: center;
}
a.linkedin > p,
a.github > p,
a.instagram > p,
a.whatsapp > p,
a.call > p,
a.email > p {
  margin-left: 10px;
}

.copy {
  width: 32px;
  height: 32px;
}
button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: copy;
}

footer {
  position: fixed;
  bottom: 0px;
  width: calc(100% - 10px);
  margin: auto;
  background-color: var(--night);
  border-radius: 25px 25px 0 0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}
footer > span {
  height: 20px;
  display: flex;
}
